<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <application
        tools:replace="android:icon" 
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="converse-preview"/>
                <data android:scheme="com.converse.preview"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="preview.getconverse.app" android:pathPrefix="/dm" android:scheme="https"/>
                <data android:host="preview.converse.xyz" android:pathPrefix="/dm" android:scheme="https"/>
                <data android:host="preview.getconverse.app" android:pathPrefix="/group-invite" android:scheme="https"/>
                <data android:host="preview.converse.xyz" android:pathPrefix="/group-invite" android:scheme="https"/>
                <data android:host="preview.getconverse.app" android:pathPrefix="/group" android:scheme="https"/>
                <data android:host="preview.converse.xyz" android:pathPrefix="/group" android:scheme="https"/>
                <data android:host="preview.getconverse.app" android:pathPrefix="/coinbase" android:scheme="https"/>
                <data android:host="preview.converse.xyz" android:pathPrefix="/coinbase" android:scheme="https"/>
                <data android:host="preview.getconverse.app" android:pathPrefix="/mobile-wallet-protocol" android:scheme="https"/>
                <data android:host="preview.converse.xyz" android:pathPrefix="/mobile-wallet-protocol" android:scheme="https"/>
                <data android:host="preview.getconverse.app" android:pathPrefix="/desktopconnect" android:scheme="https"/>
                <data android:host="preview.converse.xyz" android:pathPrefix="/desktopconnect" android:scheme="https"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
