<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>metamask</string>
      <string>metamask</string>
      <string>cbwallet</string>
      <string>trust</string>
      <string>rainbow</string>
      <string>uniswap</string>
      <string>zerion</string>
      <string>ledgerlive</string>
      <string>imtokenv2</string>
      <string>spot</string>
      <string>omni</string>
      <string>bitkeep</string>
      <string>robinhood-wallet</string>
      <string>crypto</string>
      <string>awallet</string>
      <string>safepalwallet</string>
      <string>mathwallet</string>
      <string>tpoutside</string>
      <string>keyring</string>
      <string>frontier</string>
      <string>bnc</string>
      <string>mewwallet</string>
      <string>zengo</string>
      <string>fireblocks-wc</string>
      <string>unstoppabledomains</string>
      <string>exodus</string>
      <string>bhcwallet</string>
      <string>loopring</string>
      <string>helix-id</string>
      <string>pitaka</string>
      <string>kriptomatapp</string>
      <string>bitizen</string>
      <string>wc</string>
      <string>timeless-wallet</string>
      <string>okex</string>
      <string>safemoon</string>
      <string>cypherwallet</string>
      <string>pltwallet</string>
      <string>avacus</string>
      <string>enjinwallet</string>
      <string>slingshot</string>
      <string>abra</string>
      <string>blockchain-wallet</string>
      <string>kryptogo</string>
      <string>atwallet</string>
      <string>premawallet</string>
      <string>hideoutWallet</string>
      <string>minerva</string>
      <string>copiosa</string>
      <string>beewallet.app</string>
      <string>abc-wallet</string>
    </array>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Converse DEV</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLSchemes</key>
    <array>
      <string>converse-dev</string>
      <string>com.converse.dev</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>converse-dev</string>
          <string>com.converse.dev</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>13</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>localhost</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Automatic</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>