name: Android App APK Build

on:
  pull_request:
    branches:
      - main
    # Uncomment after verification
    # paths:
    #   - "android/**"
    #   - "package.json"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 18.x
          cache: "yarn"

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Setup Expo
        uses: expo/expo-github-action@v8
        with:
          expo-version: latest
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install dependencies
        run: yarn install

      - name: Clean Android Device
        # https://github.com/actions/runner-images/issues/2840#issuecomment-790492173
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Build Android app
        run: eas build --platform android --profile development --local --output ${{ github.workspace }}/app-release.apk
      # Don't upload the artifact for now as we just want to make sure it builds
      # - name: Upload APK artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: app-release
      #     path: ${{ github.workspace }}/app-release.apk
